<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="5" name="Suite" parallel="tests"  thread-count="2" >

<listeners>
        <listener class-name="Listeners.TestListener"/>
        <listener class-name="Listeners.AnnotationTransformer"/>
    </listeners>  
   
     <test name="Test1">
    <classes>
      <class name="tests.TC_001_Login_Valid1">
      </class>  
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
